@import "iconfonts.css";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: #f7f7f7;
}
input,
button,
textarea {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  outline: none;
  transition: all .2s;
}
input:focus,
button:focus,
textarea:focus {
  border-color: #ff7f26;
}
input::placeholder,
button::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
input,
textarea {
  width: 100%;
  padding: 8px;
}
button {
  cursor: pointer;
}
a {
	text-decoration: none;
}

/* 左侧 */
.matter-left {
	width: 20%;
  float: left;
  padding: 20px 15px;
	background-color: #F2F4F7;
}
.m-title {
  position: relative;
  height: 30px;
  line-height: 30px;
	margin-bottom: 30px;
}
.m-title img {
	width: 32px;
	height: 32px;
	position: absolute;
	border-radius: 50%;
}
.m-name {
	display: inline-block;
	margin-left: 40px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.85);
}
.m-icon {
	float: right;
}
.m-icon .icon {
	font-size: 17px!important;
	opacity: 0.35;
	padding-left: 15px;
}
.m-icon .icon:hover,
.m-icon .icon:hover {
	opacity: 0.55;
}
.menu h4 {
	display: inline-block;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.85);
}
.menu li {
  height: 36px;
  line-height: 36px;
	padding: 0 10px;
}
.menu i {
	margin-right: 8px;
	color: rgba(0, 0, 0, 0.55);
}
.firt {
	background-color: rgba(75, 111, 222, 0.1);
	border-radius: 3px;
}
.menu li:hover {
	background-color: rgba(75, 111, 222, 0.05);
	border-radius: 3px;
}
.ad {
	float: right;
  font-size: 12px;
  opacity: 0.55;
}
.classify {
	margin-top: 20px;
}
.cl-ul {
	padding: 0 20px;
	overflow: hidden;
	margin: 0!important;
}
.cl-ul li {
	float: left;
	padding: 8px 12px;
}
.active {
	padding: 8px 0;
	border-bottom: 1px solid #000;
}
.active a {
	color: #000!important;
}
.classify li a {
	color: rgba(0, 0, 0, 0.55);
	font-size: 14px;
}
.cl-content {
  padding: 0 0 0 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.cl-content ul {
	line-height: 34px;
	font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.cl-content ul:last-child {
	border: none;
}
.cl-content ul li {
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
}
.cl-content ul li:hover {
	background-color: rgba(75, 111, 222, 0.05);
	border-radius: 3px;
}
.cl-content i {
	opacity: 0.55;
	font-size: 17px;
	margin-right: 8px;
}
/* 中间 */
.container {
  width: 40%;
  float: left;
  padding: 20px 15px;
}
.header {
  margin-bottom: 20px;
}
.header h2{
  font-size: 22px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.85);
}
.task-form .detail {
  margin-top: 10px;
}
.task-form .detail > * + * {
  font-size: 14px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.35);
}
.task-form button[type="submit"] {
  padding: 8px 16px;
  background-color: #ff7f26;
  color: rgba(255, 255, 255, 0.85);
  transition: all .2s;
}
.task-form button[type="submit"]:hover {
  opacity: .9;
}
.task-form button[type="submit"]:active {
  opacity: 1;
}
.task-input {
  position: relative;
}
.task-input input {
  padding-right: 80px;
}
.task-input .icon {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  opacity: 0.6;
}
.task-input .icon:hover {
  opacity: 0.8;
}
.task-input .icon-plus {
  right: 40px;
}
.task-input .icon-more-horizontal-horizontal {
  right: 8px;
}
.task-list {
  margin-top: 32px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
}
.task-list h2 {
  margin: 0;
  padding: 0 8px;
  line-height: 40px;
  font-size: 15px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.55);
}
.task-list .item {
  position: relative;
  padding: 16px 112px 16px 40px;
  border-top: 1px solid #e6e6e6;
}
.item .toggle-complete {
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -12px;
}
.item .toggle-complete:before {
  font-family: 'icomoon';
  content: "\e93a";
  color: rgba(0, 0, 0, 0.3);
}
.item .toggle-complete:active:before {
  content: "\e933";
  color: #ff7f26;
}
.item.complete .toggle-complete:before {
  content: "\e933";
  color: #ff7f26;
}
.item.complete .toggle-complete:active:before {
  content: "\e93a";
  color: rgba(0, 0, 0, 0.3);
}
.item .iconbar {
  position: absolute;
  top: 50%;
  right: 0;
  line-height: 24px;
  margin-top: -12px;
  display: none;
}
.item .iconbar .icon {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.55);
  transition: all .2s;
}
.item .iconbar .icon:hover {
  color: rgba(0, 0, 0, 0.85);
}
.item:hover {
  background-color: rgba(255, 127, 38, 0.1);
}
.item:hover .iconbar {
  display: block;
}
.item .title {
  font-size: 15px;
  vertical-align: super;
}
.item .detail {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.55);
  font-size: 12px;
}
.icon {
  line-height: 24px;
  font-size: 20px;
  cursor: pointer;
  vertical-align: middle;
}
.remind-sound {
  display: none;
}
.empty {
  line-height: 48px;
  color: rgba(0, 0, 0, 0.55);
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

/* 右侧 */
.matter-right {
  width: 40%;
  float: left;
  padding: 20px 15px;
}